@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtmls";
}

<div class="jumbotron">
    <h1>Mangowi - Middle Valley Community Bank</h1>
    <p class="lead">Mangowi - Middle Valley Community Bank is a upcoming bank web based ATM inssitution that comes up next to your mobile device or desktop computer.</p>
    <p><a href="http://mangowi.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can register your account now by open a free account.
        </p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you are already a member you can login direct.</p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301866">Login &raquo;</a></p>
    </div>
 
</div>
@section scripts{
      <script> var testing = true; </script>
    }